
    <title>Genre: <%=genre%></title>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/form.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="/css/search.css"
      type="text/css"
      media="all"
    />
  </head>
 
  
    <%- include('partials/header', { page: "Genre: " +genre} )%>

    
    <main>
      <section>
        <div class="stories">
          <%if(books.length !== 0){%>
            <% books.forEach(book => {%>
              <div class="book list-item">
                <a href="/books/<%= book.id%>" class="pic">
                  <img src="<%=book.coverURL%>" alt="">
                </a>
                <a href="/books/<%= book.id%>">
  
                  <span class="details">
                    <span class="metrics">
                      <p><sub><%=book.stars.length%></sub></p>
                    <p><sub><%=book.reads.length%></sub></p>
                    
                    </span>  
                    <span class="title"><%=book.title%></span>
                    <span class="author"><%=book.author%></span>
                    <span class="genre"><%=book.genre%></span>
                  </span>
                </a>
              </div>
            
            <%})} else {%>
          <p>No results</p>
          <%}%>
        </div>
          
      </section>
</main>
